nav{
    z-index: 1;
}

.header{
    &-fixed-in{
        background-color: orange;
        transition: background-color 1s linear;
    }
    &-fixed-out{
        background-color: transparent;
        transition: background-color 1s linear;      
    }
}

.jumbotron{
    height: 100vh;
    padding: 10px;
}